{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/stavki_na_sport.css'%}">

</head>
<body>
<div class="menu"></div>

 <div class="text"><img src="{% static 'main/img/Vector.png' %}"></div>
 <div class="text2"><img src="{% static 'main/img/Vector (16).png' %}"></div>
 <div class="text3"><img src="{% static 'main/img/Vector (15).png' %}"></div>
 <div class="text4"><img src="{% static 'main/img/Vector (15).png' %}"></div>
 <div class="text5"><img src="{% static 'main/img/Vector (10).png' %}"></div>
 <div class="text6"><img src="{% static 'main/img/Vector (5).png' %}"></div>
 <div class="text7"><img src="{% static 'main/img/Vector (6).png' %}"></div>
 <div class="text8"><img src="{% static 'main/img/Vector (7).png' %}"></div>
 <div class="text9"><img src="{% static 'main/img/Vector (9).png' %}"></div>
 <div class="text10"><img src="{% static 'main/img/Vector (8).png' %}"></div>
 <div class="text11"><img src="{% static 'main/img/Vector (11).png' %}"></div>
 <div class="text12"><img src="{% static 'main/img/Vector (12).png' %}"></div>
 <div class="text13"><img src="{% static 'main/img/Vector (13).png' %}"></div>
<div class="text14"><img src="{% static 'main/img/moon (1) 1 (1).png' %}"></div>
<div class="text15"><img src="{% static 'main/img/Rectangle 42.png' %}"></div>
<div class="text16"><img src="{% static 'main/img/Ellipse 6.png' %}"></div>
<div class="text17"><img src="{% static 'main/img/sun 1.png' %}"></div>
<div class="text18"><img src="{% static 'main/img/user 1.png' %}"></div>
<div class="text19"><img src="{% static 'main/img/LOGIN.png' %}"></div>
<div class="text20"><img src="{% static 'main/img/Rectangle 97.png' %}"></div>
<div class="text21"><img src="{% static 'main/img/Rectangle 26.png' %}"></div>
<div class="text22"><img src="{% static 'main/img/Vector44.png' %}"></div>
<div class="menu44"></div>

<div class="text23"><img src="{% static 'main/img/Star 1.png' %}"></div>
<div class="text33"><h4>FAVORITES</h4></div>


<canvas width="758" height="932" style="width: 607px; height: 746px;" class="clickable"></canvas>

</body>
</html>

